#bfp-tree {
    display: none;
}
.item-update .text-info{display:none;}
#lightbox .lb-caption{display:none !important;}


@media only screen and (max-width: 769px) {
    #bfp-img-full figure img.vc_single_image-img {
        object-position: -250px 0;
    }
}


/* #bfp-campo-partner #list-tree .single-tree .link-tree[data-id="${ID}"] .container-single-tree .co2 {
    display: none!important;
} */

/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/