.hide{
    display: none!important;
}
#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="152063"] .container-single-tree .co2,
#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="119855"] .container-single-tree .co2 {
    display: none!important;
}

/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/
