@media only screen and (min-width: 1024px) {
    #bfp-coupon-module .bfp-logo-container figure img {
        margin: 0px auto;
        max-width: 80%;
    }
}

/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/