.hide{
    display: none!important;
}

#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="122329"] .container-single-tree .co2, #bfp-campo-partner #list-tree .single-tree .link-tree[data-id="122327"] .container-single-tree .co2, #bfp-campo-partner #list-tree .single-tree .link-tree[data-id="122325"] .container-single-tree .co2  {
    display: none!important;
}