 /***** CUSTOM *****/
 @media only screen and (min-width:600px){
   #bfp-coupon-module .bfp-logo-container figure img {
      margin: 5px auto;
      max-width: 40%;
  }
  }
   #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree .co2 {
      left: -15px;
  }
  
   .aido-logo-partner {
       max-width:280px;
       min-width:100px;
       margin:0 auto;
   
   }
   .aido-logo-partner img{
       width:100%;
       height:100%;
       object-fit:contain;
       margin:0 auto;
   }
   .cta-aido a {
      margin: 0 auto;
      line-height: 3rem;
      font-size: 1.0rem;
      border-radius: 20px;
      border: 1px solid #d54900;
      color: #d54900;
      padding: 10px 10px;
  }
  .cta-aido a:hover {
      border: 1px solid #d54900;
      background-color: #d54900;
      color:#ffffff;
  }
  @media only screen and (min-width:360px){
      .cta-aido a {
      font-size: 1.3rem;
  }
  }
  @media only screen and (min-width:600px){
      .cta-aido a {
      font-size: 1.5rem;
  }
  }
   /*********************************************/
   #bfp-coupon-module h2, .hidden{
      display: none!important;
  }
  
  #bfp-coupon-code {
          width: 100%!important;
      }
  
  #bfp-info-co2_v2 .bfp-txt,
  #bfp-info-co2_v2 .bfp-txt p
  {
      text-align: center;
  }
  
  @media only screen and (min-width: 600px){
      #bfp-coupon-code {
          flex-direction: column!important;
      }
      #bfp-coupon-code .bfp-txt {
          width: 80%!important;
          text-align: left;
          margin: 0!important;
      }
  }
  @media only screen and (min-width: 1200px){
      #bfp-coupon-code {
          flex-direction: row!important;
          align-items: center;
          width: 100%;
      }
      
      #bfp-coupon-code .bfp-txt {
          width: 49%!important;
          text-align: left;
          margin: 0 0 0 auto!important;
      }
      /*
      #bfp-coupon-code .bfp-txt h2{
      min-height: 80px;
  }*/
  }
  
   #bfp-coupon-module h2{
      display: none!important;
  }
  
    #bfp-onlus .bfp-txt {
      text-align: center;
      color: #00492b;
    }
    #bfp-onlus .bfp-txt h2 {
      font-size: 3rem;
    }
    #bfp-onlus .bfp-txt p {
      font-size: 1.7rem;
    }
  
    @media only screen and (min-width: 600px) {  
      #bfp-onlus .bfp-txt {
        text-align: left;
      }
    }