#bfp-welcome .bfp-txt h2 {
  margin: 10px auto;
  font-size: 3rem;
}

#bfp-welcome .bfp-txt .bfp-message {
  color: #9b9b9b;
  width: auto;
  margin: 5px auto;
  text-align: justify;
}

@media screen and (min-width: 1200px) {
  #bfp-welcome .bfp-txt h2 {
    font-size: 4.5rem;
  }
}
