.hide{
    display: none!important;
}

#bfp-coupon-module {
    width: 100%;
    margin: 50px auto 20px;
}

#bfp-coupon-module .bfp-logo-container figure img {
    margin: 0px auto;
    max-width: 100%;
}

@media only screen and (min-width: 1024px){
#bfp-coupon-module .bfp-logo-container figure img {
margin: 0px auto;
max-width: 100%;
}
}

#new .text h2, #new .text span {
    color: #00492b;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'OPEN SANS'!important;
}

/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/

.bfp-logo-container figure {
  width: 100%;
}

.bfp-logo-container figure img {
  margin: 5px auto;
  max-width: 90%;
}

.bfp-logo-container .type2 figure img {
  max-width: 50%;
}

@media only screen and (min-width: 600px) {
  .bfp-logo-container figure img {
    max-width: 80%;
  }
  .bfp-logo-container .type2 figure img {
    max-width: 40%;
}
}

@media only screen and (min-width: 1024px) {
     
      .bfp-logo-container figure img {
        margin: 0px auto;
        max-width: 80%;
      }
      .bfp-logo-container .type2 figure img {
          max-width: 40%;
        }
}



/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/