.container-img-farmer img {
  object-fit: cover !important;
  min-height: 212px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container-img-farmer img {
    object-fit: cover !important;
    min-height: 230px;
  }
}
