.hide{
    display: none!important;
}
#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="119864"] .container-single-tree .co2 {
    display: none!important;
}

@media only screen and (min-width: 600px) {
    #bfp-coupon-module .bfp-logo-container figure img {
        margin: 5px auto;
        max-width: 65%;
    }
}

@media only screen and (min-width: 1024px) {
    #bfp-coupon-module .bfp-logo-container figure img {
        margin: 0px auto;
        max-width: 80%;
    }
}
/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/