
.hide{
    display: none!important;
}

#bfp-coupon-module .bfp-logo-container figure img {
        margin: 0px auto;
        max-width: 100%!important;
    }
    
@media only screen and (min-width: 1024px){
    #bfp-coupon-module .bfp-logo-container figure img {
        margin: 0px auto;
        max-width: 90%;
    }
}