
.bfp-message{
    display: none;
}

#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="60703"] .container-single-tree .co2,
#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="119195"] .container-single-tree .co2,
#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="119864"] .container-single-tree .co2,
#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="119637"] .container-single-tree .co2  {
    display: none!important;
}