.hide{
    display: none;
}

.bfp-logo-container p{
    text-align: center;
    margin: 10px auto;
    font-family: 'Baloo Da';
    line-height: 3rem;
    font-size: 1.7rem;
}

.bfp-logo-container p a{
    color: #f26e22;
}
@media only screen and (min-width: 1024px){
    #bfp-coupon-module .bfp-logo-container figure img {
        margin: 0px auto;
        max-width: 100%;
    }
}

/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/