.hide{
    display: none!important;
}
#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="89679"] .container-single-tree .co2,
#bfp-campo-partner #list-tree .single-tree .link-tree[data-id="227470"] .container-single-tree .co2 {
    display: none!important;
}

@media only screen and (min-width: 1024px){
#bfp-coupon-module .bfp-logo-container figure img {
    margin: 0px auto;
    max-width: 95%;
}
}
/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/