/************************************* GENERAL ***************************************/
.disable-class {
    display: none;
  }
  
  /* SPINNER LOADER */
  .preloader {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .preloader.complete {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: auto;
    width: 80px;
    height: 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #bed747;
    border-bottom: 10px solid #f26e22;
    border-radius: 50%;
    z-index: 1000;
    animation: loader 2s linear infinite;
    -webkit-animation: loader 2s linear infinite;
  }
  
  @-webkit-keyframes loader {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
              transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
              transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  /************************* end- SPINNER LOADER *****************************************/
  #bfp-coupon-module,
  #bfp-info-co2,
  #bfp-slogan,
  #bfp-slogan-wedding,
  #bfp-farmers-section,
  #bfp-farmers-list,
  #bfp-campo-partner,
  #bfp-coupon-code,
  #bfp-info-bottom {
    margin: 60px auto;
  }
  
  #bfp-img-full {
    margin: 0px auto;
  }
  
  /*************************** end - GENERAL **************************************/
  /************************************* FLEXBOX/GRID ***************************************/
  /* FLEX */
  #bfp-coupon-module,
  #bfp-coupon-module .bfp-logo-container,
  #bfp-coupon-module .bfp-form-coupon-container,
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon,
  #bfp-coupon-module .bfp-form-coupon-container .bfp-instruction-container,
  #bfp-coupon-module
  .bfp-form-coupon-container
  .bfp-form-coupon
  .bfp-btn-confirm.button_redeem,
  #bfp-coupon-module
  .bfp-form-coupon-container
  .bfp-instruction-container
  .bfp-instruction,
  #bfp-info-co2,
  #bfp-slogan,
  #bfp-slogan-wedding,
  #bfp-farmers-section,
  #bfp-coupon-code,
  #bfp-farmers-list
  #bfp-tab-farmers
  #list-farmers
  .single-farmer
  .container-info-farmer
  .name-farmer,
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree,
  #bfp-campo-partner
  #list-tree
  .single-tree
  .link-tree
  .container-single-tree
  .co2,
  #bfp-campo-partner
  #list-tree
  .single-tree
  .link-tree
  .container-single-tree
  .name-tree,
  #bfp-campo-partner
  #container-tree
  #tree-update-info
  #bfp-tree
  #tree-description,
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates,
  #bfp-campo-partner
  #container-tree
  #tree-update-info
  #bfp-tree
  #tree-description
  .item-description,
  #bfp-info-bottom .container-items .item,
  #bfp-info-bottom .container-items .item .info {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  #bfp-coupon-module,
  #bfp-coupon-module .bfp-form-coupon-container,
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon,
  #bfp-coupon-module .bfp-form-coupon-container .bfp-instruction-container,
  #bfp-info-co2,
  #bfp-slogan,
  #bfp-slogan-wedding,
  #bfp-coupon-code,
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree,
  #bfp-campo-partner
  #list-tree
  .single-tree
  .link-tree
  .container-single-tree
  .co2,
  #bfp-campo-partner
  #list-tree
  .single-tree
  .link-tree
  .container-single-tree
  .name-tree,
  #bfp-campo-partner
  #container-tree
  #tree-update-info
  #bfp-tree
  #tree-description,
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates,
  #bfp-campo-partner
  #container-tree
  #tree-update-info
  #bfp-tree
  #tree-description
  .item-description,
  #bfp-info-bottom .container-items .item .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  #bfp-coupon-module .bfp-logo-container,
  #bfp-coupon-module
  .bfp-form-coupon-container
  .bfp-form-coupon
  .bfp-btn-confirm.button_redeem,
  #bfp-coupon-module
  .bfp-form-coupon-container
  .bfp-instruction-container
  .bfp-instruction,
  #bfp-farmers-section,
  #bfp-farmers-list
  #bfp-tab-farmers
  #list-farmers
  .single-farmer
  .container-info-farmer
  .name-farmer,
  #bfp-info-bottom .container-items .item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  #bfp-coupon-module,
  #bfp-coupon-module .bfp-logo-container,
  #bfp-coupon-module .bfp-form-coupon-container,
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon,
  #bfp-coupon-module .bfp-form-coupon-container .bfp-instruction-container,
  #bfp-coupon-module
  .bfp-form-coupon-container
  .bfp-form-coupon
  .bfp-btn-confirm.button_redeem,
  #bfp-info-co2,
  #bfp-slogan,
  #bfp-slogan-wedding,
  #bfp-coupon-code,
  #bfp-campo-partner
  #list-tree
  .single-tree
  .link-tree
  .container-single-tree
  .co2,
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree,
  #bfp-campo-partner
  #container-tree
  #tree-update-info
  #bfp-tree
  #tree-description,
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates,
  #bfp-info-bottom .container-items .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #bfp-coupon-module
  .bfp-form-coupon-container
  .bfp-instruction-container
  .bfp-instruction,
  #bfp-farmers-section,
  #bfp-farmers-list
  #bfp-tab-farmers
  #list-farmers
  .single-farmer
  .container-info-farmer
  .name-farmer,
  #bfp-info-bottom .container-items .item .info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #bfp-campo-partner
  #container-tree
  #tree-update-info
  #bfp-tree
  #tree-description
  .item-description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  /************************ end -FLEX**************************/
  /* GRID */
  #bfp-farmers-list #bfp-tab-farmers #list-farmers,
  #bfp-farmers-list
  #bfp-tab-farmers
  #list-farmers
  .single-farmer
  .single-farmer-fruits,
  #bfp-campo-partner #list-tree,
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update,
  #bfp-info-bottom .container-items.three-columns {
    display: -ms-grid;
    display: grid;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers,
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  
  #bfp-farmers-list
  #bfp-tab-farmers
  #list-farmers
  .single-farmer
  .single-farmer-fruits {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #bfp-campo-partner #list-tree,
  #bfp-info-bottom .container-items.three-columns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  
  /******************** end - GRID ********************************/
  /************************************* end FLEXBOX/GRID ***************************************/
  /************************************* VISUAL COMPOSER ***************************************/
  #bfp-coupon-module {
    width: 100%;
    margin: 50px auto;
  }
  
  #bfp-coupon-module .bfp-logo-container {
    margin: 10px auto;
    padding: 0;
    width: 80%;
  }
  
  #bfp-coupon-module .bfp-logo-container figure {
    width: 100%;
  }
  
  #bfp-coupon-module .bfp-logo-container figure img {
    margin: 5px auto;
    max-width: 90%;
  }
  
  #bfp-coupon-module .bfp-wedding-container {
    margin: 10px auto;
  }
  
  #bfp-coupon-module .bfp-wedding-container h2 {
    margin: 0;
    text-align: center;
  }
  
  #bfp-coupon-module .bfp-wedding-container img {
    width: 50%;
    margin: 5px auto;
  }
  
  @media only screen and (min-width: 1200px){
    #bfp-coupon-module .bfp-wedding-container img {
      width: 90%;
    }
  }

  #bfp-coupon-module .bfp-form-coupon-container {
    width: 90%;
    margin: 10px auto;
    padding: 0;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon {
    width: 100%;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-submit-coupon {
    margin: 15px 0;
    width: 100%;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-submit-coupon input::-webkit-input-placeholder {
    text-align: left;
    font-size: 13px;
    line-height: 13px;
    font-style: inherit;
    height: 40px;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-submit-coupon input:-ms-input-placeholder {
    text-align: left;
    font-size: 13px;
    line-height: 13px;
    font-style: inherit;
    height: 40px;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-submit-coupon input::-ms-input-placeholder {
    text-align: left;
    font-size: 13px;
    line-height: 13px;
    font-style: inherit;
    height: 40px;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-submit-coupon input::placeholder {
    text-align: left;
    font-size: 13px;
    line-height: 13px;
    font-style: inherit;
    height: 40px;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-submit-coupon input {
    border-radius: 30px;
    border: 0px solid #fff;
    outline: none;
    font-size: 15px;
    line-height: 15px;
    height: 40px;
    background-color: #f6f4f0;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    color: #9b9b9b;
    padding: 0 15px;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-btn-confirm.button_redeem {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100% !important;
    margin: 15px 0;
    left: 0;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-btn-confirm.button_redeem a {
    height: 40px;
    line-height: 40px;
    background-color: #f26e22;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    border-radius: 30px;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-instruction-container {
    margin: 10px auto 0 auto;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-instruction-container .bfp-instruction {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
  }
  
  #bfp-coupon-module .bfp-form-coupon-container .bfp-instruction-container .bfp-instruction p {
    color: #9b9b9b;
  }
  
  #bfp-info-co2 {
    width: 90%;
    margin: 30px auto;
  }
  
  #bfp-info-co2 .bfp-img {
    display: none;
  }
  
  #bfp-info-co2 .bfp-txt {
    text-align: center;
    color: #00492b;
  }
  
  #bfp-info-co2 .bfp-txt h2 {
    margin: 5px 0;
    font-size: 3rem;
  }
  
  #bfp-info-co2 .bfp-txt p {
    width: 90%;
    margin: 0 auto;
    line-height: 40px;
    font-size: 1.7rem;
  }
  
  #bfp-img-full {
    left: 50% !important;
    -webkit-transform: translate(-55%, 0) !important;
            transform: translate(-55%, 0) !important;
    width: 1500px !important;
  }
  
  #bfp-img-full figure {
    width: 100%;
  }
  
  #bfp-img-full figure img {
    width: 100%;
  }
  
  #bfp-img-full.bfp-img-full-wedding {
    left: 60%;
    -webkit-transform: translate(-83%, 0) !important;
            transform: translate(-83%, 0) !important;
  }
  
  #bfp-slogan {
    width: 100%;
  }
  
  #bfp-slogan .bfp-txt {
    text-align: center;
    margin: 0 auto;
    color: #00492b;
  }
  
  #bfp-slogan .bfp-txt h2 {
    margin: 10px auto;
    font-size: 3rem;
  }
  
  #bfp-slogan .bfp-txt p {
    width: 90%;
    margin: 5px auto;
    font-size: 1.7rem;
  }
  
  #bfp-slogan .bfp-txt .bfp-message {
    color: #9b9b9b;
    width: auto;
    margin: 20px auto;
  }
  
  #bfp-slogan-wedding {
    width: 100%;
  }
  
  #bfp-slogan-wedding .bfp-txt {
    text-align: center;
    margin: 0 auto;
    color: #00492b;
  }
  
  #bfp-slogan-wedding .bfp-txt h2 {
    margin: 10px auto;
    font-size: 3rem;
  }
  
  #bfp-slogan-wedding .bfp-txt p {
    width: 90%;
    margin: 5px auto;
    font-size: 1.7rem;
  }
  
  #bfp-slogan-wedding .bfp-txt .bfp-message {
    color: #9b9b9b;
    width: auto;
    margin: 20px auto;
  }
  
  #bfp-farmers-section {
    width: 90%;
  }
  
  #bfp-farmers-section .bfp-txt {
    text-align: left;
    color: #00492b;
  }
  
  #bfp-farmers-section .bfp-txt h2 {
    margin: 5px 0;
    font-size: 3rem;
  }
  
  #bfp-farmers-section .bfp-txt p {
    width: 100%;
    margin: 5px 0;
    font-size: 1.7rem;
  }
  
  #bfp-farmers-section .bfp-txt .info-two {
    color: #bed747;
    width: auto;
    margin: 5px 0;
    font-size: 1.7rem;
  }
  
  #bfp-coupon-code {
    width: 90%;
  }
  
  #bfp-coupon-code .bfp-img {
    display: none;
  }
  
  #bfp-coupon-code .bfp-txt {
    text-align: center;
    color: #00492b;
  }
  
  #bfp-coupon-code .bfp-txt h2 {
    font-size: 3rem;
  }
  
  #bfp-coupon-code .bfp-txt h2.h2-wedding {
    width: 280px;
  }
  
  #bfp-coupon-code .bfp-txt p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.7rem;
  }
  
  #bfp-coupon-code .bfp-txt .discount-code {
    width: 90%;
    background-color: #f7f7f7;
    color: #f26e22;
    margin: 10px auto;
    text-align: left;
    padding: 10px 0 10px 15px;
    border-radius: 30px;
    font-weight: 600;
  }
  
  /********************** end - VISUAL COMPOSER ******************************/
  /****************************** FARMERS ***************************************/
  #bfp-farmers-list #bfp-tab-farmers #list-farmers {
    -ms-grid-columns: (minmax(160px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    width: 90%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer {
    width: 85%;
    margin: 20px auto;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-img-farmer img {
    border-radius: 10px;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-info-farmer {
    text-align: left;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-info-farmer .name-farmer {
    margin: 10px auto 5px auto;
    font-size: 1.7rem;
    color: #00492b;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-info-farmer .location-farmer {
    margin: 0 auto;
    font-size: 1.5rem;
    color: #9b9b9b;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .single-farmer-fruits {
    margin: 0 auto;
    -ms-grid-columns: (minmax(38px, 43px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(38px, 43px));
    cursor: default;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .single-farmer-fruits .single-farmer-fruit {
    width: 38px;
    margin: 0;
  }
  
  #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .single-farmer-fruits .single-farmer-fruit img {
    width: 100%;
  }
  
  #bfp-farmers-list #container-farmer {
    margin: 20px auto;
  }
  
  #bfp-farmers-list #container-farmer #bfp-farmer .single-farmer .single_info-farmer h2 {
    text-align: center;
    color: #00492b;
    font-size: 1.7rem;
    margin: 0 auto 15px;
  }
  
  #bfp-farmers-list #container-farmer #bfp-farmer .single-farmer .single_info-farmer h3 {
    text-align: center;
    color: #bed747;
    font-size: 1.6rem;
    margin: 0 auto 15px;
  }
  
  #bfp-farmers-list #container-farmer #bfp-farmer .single-farmer .single_description-farmer p {
    word-break: break-word;
  }
  
  /************************ end - FARMERS ******************************************/
  /************************************* TREES ***************************************/
  #bfp-campo-partner {
    width: 100%;
    padding: 100px 0;
    background-image: none !important;
  }
  
  #bfp-campo-partner .upb_row_bg {
    background-repeat: repeat !important;
    background-size: contain !important;
  }
  
  #bfp-campo-partner .upb_row_bg:before {
    content: "";
    display: block;
    background-image: url("https://www.biorfarm.com/wp-content/uploads/2019/10/landing-paypal-bg-top.png");
    background-position: 20%;
    width: 100%;
    height: 318px;
    position: absolute;
    top: -100px;
  }
  
  #bfp-campo-partner .upb_row_bg:after {
    content: "";
    display: block;
    background-image: url("https://www.biorfarm.com/wp-content/uploads/2019/10/landing-paypal-bg-bottom.png");
    background-position: 80%;
    width: 100%;
    height: 318px;
    position: absolute;
    bottom: -100px;
  }
  
  #bfp-campo-partner h2 {
    text-align: center;
    margin: 35px auto;
    font-size: 3rem;
  }
  
  #bfp-campo-partner h4 {
    text-align: center;
    color: #9b9b9b;
    margin: 10px auto;
  }
  
  #bfp-campo-partner .campo-partner {
    padding: 30px 10px;
  }
  
  #bfp-campo-partner .campo-partner .vc_column-inner {
    padding: 15px 0;
  }
  
  #bfp-campo-partner .campo-partner h5#co2-certificato {
    text-align: center;
    color: lightgrey;
    font-size: 1.3rem;
    margin: 10px auto;
    font-family: "Open Sans" !important;
  }
  
  #bfp-campo-partner .container-trees {
    padding: 0 15px;
  }
  
  #bfp-campo-partner #list-tree {
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    -ms-grid-columns: (127px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 127px);
  }
  
  #bfp-campo-partner #list-tree .single-tree {
    margin: 0 auto;
    width: 100%;
  }
  
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree {
    position: relative;
  }
  
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree .co2 {
    position: absolute;
    top: 0;
    right: -15px;
    z-index: 100;
    border-radius: 24px;
    width: 70px;
    height: 45px;
    background-color: #00492b;
  }
  
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree .co2 p,
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree .co2 span {
    color: #ffffff;
    margin: 0;
    font-family: Baloo Da, cursive;
  }
  
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree .co2 p {
    font-size: 2.5rem;
    line-height: 1.7rem;
    padding-top: 15px;
  }
  
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree .name-tree {
    color: #00492b;
    min-height: 42px;
    font-size: 15px;
    text-align: center;
    margin-top: 0;
  }
  
  #bfp-campo-partner #list-tree .single-tree .link-tree .container-single-tree .number-tree {
    color: #00492b;
    font-size: 20px;
    margin-bottom: 0;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info {
    width: 95%;
    margin: 0 auto;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info .separator {
    width: 80%;
    margin: 30px auto;
    height: 2px;
    background-color: #f6f4f0;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-tree {
    margin: 40px auto;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description {
    margin: 0 auto;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .item-description {
    margin: 0 auto;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .item-description .img-description {
    width: 300px;
    margin: 0 auto;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .item-description .title {
    font-size: 1.7rem;
    color: #00492b;
    text-align: center;
    margin: 15px auto;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .item-description p {
    word-break: break-word;
    font-size: 1.6rem;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates {
    margin: 40px auto;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates h2 {
    margin: 20px auto;
    text-align: center;
    color: #00492b;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    grid-row-gap: 15px;
    -ms-grid-columns: (minmax(155px, 1 fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(155px, 1 fr));
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update .item-update {
    width: 90%;
    margin: 0 auto;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update .item-update p {
    word-break: break-word;
    font-size: 1.6rem;
    line-height: 2.5rem !important;
    margin: 10px 0 !important;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update .item-update .text-data {
    color: #00492b;
    font-family: "Baloo Da";
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update .item-update .text-info {
    color: #222;
  }
  
  #bfp-campo-partner #container-tree #tree-update-info #bfp-updates .showmore {
    background-color: #fff;
    border: 0px;
    text-align: center;
    padding: 10px 20px;
    color: #f26e22;
    outline: none;
    font-weight: bold;
    width: 100%;
    max-width: 220px;
    -webkit-appearance: button;
    cursor: pointer;
  }
  
  /***************************** end - TREES *********************************/
  /************************************* INFO BOTTOM ***************************************/
  #bfp-info-bottom {
    width: 90%;
  }
  
  #bfp-info-bottom .vc_column-inner {
    padding: 0;
  }
  
  #bfp-info-bottom .hide-desktop {
    display: block;
  }
  
  #bfp-info-bottom .hide-tablet {
    display: block;
  }
  
  #bfp-info-bottom .hide-mobile {
    display: none;
  }
  
  #bfp-info-bottom .container-items {
    margin: 20px auto;
    background-color: #fff;
    width: 100%;
  }
  
  #bfp-info-bottom .container-items.three-columns {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-column-gap: 30px;
    grid-row-gap: 0;
  }
  
  #bfp-info-bottom .container-items .item {
    width: 100%;
    height: 155px;
    margin: 15px auto;
  }
  
  #bfp-info-bottom .container-items .item img {
    width: 36%;
    margin: 0 auto;
  }
  
  #bfp-info-bottom .container-items .item .separotor-vertical {
    width: 3px;
    height: 100%;
    margin: 0 10px 0 0;
    background-color: #bed747;
  }
  
  #bfp-info-bottom .container-items .item .info {
    width: 60%;
  }
  
  #bfp-info-bottom .container-items .item .info h6 {
    margin: 5px 0;
    text-align: center;
    font-size: 2rem;
  }
  
  #bfp-info-bottom .container-items .item .info p {
    margin: 0px auto;
    text-align: left;
  }
  
  /*********************************** end - INFO BOTTOM *******************************/
  /************************************* MEDIA QUERIES ***************************************/
  @media only screen and (min-width: 600px) {
    #bfp-coupon-module .bfp-logo-container figure img {
      margin: 5px auto;
      max-width: 80%;
    }
    #bfp-coupon-module .bfp-form-coupon-container {
      width: 350px;
    }
    #bfp-info-co2 {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
    }
    #bfp-info-co2 .bfp-img {
      display: block;
      width: 30%;
      margin: 0 -10px 0px auto;
    }
    #bfp-info-co2 .bfp-txt {
      width: 50%;
      text-align: left;
      margin: 0 auto 0 0;
    }
    #bfp-info-co2 .bfp-txt p {
      width: 100%;
    }
    #bfp-img-full {
      left: 50% !important;
      -webkit-transform: translate(-50%, 0) !important;
              transform: translate(-50%, 0) !important;
      width: 100vw !important;
    }
    #bfp-img-full.bfp-img-full-wedding {
      left: 50% !important;
      -webkit-transform: translate(-50%, 0) !important;
              transform: translate(-50%, 0) !important;
    }
    #bfp-slogan {
      width: 90%;
    }
    #bfp-slogan-wedding {
      width: 90%;
    }
    #bfp-farmers-section {
      width: 85%;
    }
    #bfp-coupon-code {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
    }
    #bfp-coupon-code .bfp-img {
      display: block;
      width: 49%;
      margin: 0 auto 0 auto;
    }
    #bfp-coupon-code .bfp-txt {
      width: 49%;
      text-align: left;
      margin: 0 0 0 auto;
    }
    #bfp-coupon-code .bfp-txt p {
      width: 100%;
    }
    #bfp-coupon-code .bfp-txt .discount-code {
      width: 250px;
      margin: 10px 0;
    }
    #bfp-farmers-list #bfp-tab-farmers #list-farmers {
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr);
    }
    #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-info-farmer .name-farmer {
      min-height: 40px;
    }
    #bfp-farmers-list #container-farmer {
      width: 85%;
    }
    #bfp-farmers-list #container-farmer #bfp-farmer .single-farmer .single_info-farmer h2 {
      text-align: left;
    }
    #bfp-farmers-list #container-farmer #bfp-farmer .single-farmer .single_info-farmer h3 {
      text-align: left;
    }
    #bfp-campo-partner {
      width: 90%;
    }
    #bfp-campo-partner .container-trees {
      padding: 0 30px;
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update {
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media only screen and (min-width: 768px) {
    #bfp-farmers-list #bfp-tab-farmers #list-farmers {
      -ms-grid-columns: (1fr)[3];
          grid-template-columns: repeat(3, 1fr);
    }
    #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-info-farmer .name-farmer {
      font-size: 1.4rem;
    }
    #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-info-farmer .location-farmer {
      font-size: 1.3rem;
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update {
      -ms-grid-columns: (1fr)[3];
          grid-template-columns: repeat(3, 1fr);
    }
    #bfp-info-bottom .hide-desktop {
      display: none;
    }
    #bfp-info-bottom .hide-tablet {
      display: none;
    }
    #bfp-info-bottom .hide-mobile {
      display: block;
    }
    #bfp-info-bottom .container-items.three-columns {
      -ms-grid-columns: (33%)[3];
          grid-template-columns: repeat(3, 33%);
    }
    #bfp-info-bottom .container-items .item {
      width: 100%;
      height: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #bfp-info-bottom .container-items .item img {
      width: 45%;
      margin: 10px auto;
    }
    #bfp-info-bottom .container-items .item .info {
      width: 80%;
    }
    #bfp-info-bottom .container-items .item .info h6 {
      font-size: 2.5rem;
      line-height: 0.5rem;
      margin: 15px auto;
      text-align: center;
      color: #00492b;
    }
    #bfp-info-bottom .container-items .item .info p {
      margin: 15px auto;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 900px) {
    #bfp-coupon-code .bfp-img {
      display: block;
      width: 40%;
      margin: 0 auto 0 50px;
    }
    #bfp-coupon-code .bfp-txt {
      width: 40%;
      text-align: left;
      margin: 0 0 0 auto;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    #bfp-coupon-module {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 90%;
    }
    #bfp-coupon-module .bfp-logo-container {
      width: 45%;
    }
    #bfp-coupon-module .bfp-logo-container figure img {
      margin: 0px auto;
      max-width: 65%;
    }
    #bfp-coupon-module .bfp-form-coupon-container {
      width: 75%;
    }
    #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
    }
    #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-submit-coupon {
      margin: 0 auto;
      width: 58%;
    }
    #bfp-coupon-module .bfp-form-coupon-container .bfp-form-coupon .bfp-btn-confirm.button_redeem {
      width: 38% !important;
      margin: 0 auto;
    }
    #bfp-coupon-module .bfp-form-coupon-container .bfp-instruction-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 10px auto 0 auto;
    }
    #bfp-coupon-module .bfp-form-coupon-container .bfp-instruction-container .bfp-instruction {
      font-size: 1.3rem;
      margin: 0 10px;
    }
    #bfp-info-co2 .bfp-txt {
      width: 40%;
    }
    #bfp-farmers-section {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }
    #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-info-farmer .name-farmer {
      font-size: 1.7rem;
    }
    #bfp-farmers-list #bfp-tab-farmers #list-farmers .single-farmer .container-info-farmer .location-farmer {
      font-size: 1.6rem;
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin: 0 auto;
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .item-description {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 auto;
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .item-description .img-description {
      width: 90%;
      margin: 0 auto;
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .item-description .title {
      text-align: left;
      margin: 15px auto;
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .small {
      width: 30%;
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-tree #tree-description .large {
      width: 65%;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    #bfp-coupon-module {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    #bfp-coupon-module .bfp-logo-container {
      width: 40%;
    }
    #bfp-coupon-module .bfp-wedding-container {
      width: 25%;
      margin: 10px 0 10px auto;
    }
    #bfp-coupon-module .bfp-form-coupon-container {
      width: 60%;
    }
    #bfp-coupon-module .bfp-form-wedding {
      margin: 10px auto 10px 0;
    }
    #bfp-info-co2 .bfp-txt {
      width: 400px;
    }
    #bfp-info-co2 .bfp-txt h2 {
      font-size: 4.5rem;
      margin: -5px 0 0 0;
    }
    #bfp-slogan .bfp-txt h2 {
      font-size: 4.5rem;
    }
    #bfp-slogan-wedding .bfp-txt h2 {
      font-size: 4.5rem;
    }
    #bfp-farmers-list #bfp-tab-farmers #list-farmers {
      -ms-grid-columns: (1fr)[4];
          grid-template-columns: repeat(4, 1fr);
    }
    #bfp-campo-partner #container-tree #tree-update-info #bfp-updates #tree-update {
      -ms-grid-columns: (1fr)[4];
          grid-template-columns: repeat(4, 1fr);
    }
  }
  
  /**********************************************************************************/
  