#bfp-coupon-module h2,
.hidden,
.hide {
  display: none !important;
}

#bfp-coupon-code {
  width: 100% !important;
}

#bfp-info-co2_v2 .bfp-txt,
#bfp-info-co2_v2 .bfp-txt p {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  #bfp-coupon-code {
    flex-direction: column !important;
  }
  #bfp-coupon-code .bfp-txt {
    width: 80% !important;
    text-align: left;
    margin: 0 !important;
  }
}
@media only screen and (min-width: 1200px) {
  #bfp-coupon-code {
    flex-direction: row !important;
    align-items: center;
    width: 100%;
  }

  #bfp-coupon-code .bfp-txt {
    width: 49% !important;
    text-align: left;
    margin: 0 0 0 auto !important;
  }
  /*
    #bfp-coupon-code .bfp-txt h2{
    min-height: 80px;
}*/
}

#bfp-coupon-module h2 {
  display: none !important;
}

#bfp-onlus .bfp-txt {
  text-align: center;
  color: #00492b;
}
#bfp-onlus .bfp-txt h2 {
  font-size: 3rem;
}
#bfp-onlus .bfp-txt p {
  font-size: 1.7rem;
}

@media only screen and (min-width: 600px) {
  #bfp-onlus .bfp-txt {
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  #bfp-coupon-module .bfp-logo-container figure img {
    margin: 0px auto;
    max-width: 90%;
  }
}
/*
darkgreen: #00492b;
lightgreen: #7bb92c;
orange: #f26e22;
*/
